version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/backend/website"
    schedule:
      interval: "daily"
  - package-ecosystem: "pip"
    directory: "/backend/positioning"
    schedule:
      interval: "daily"
