<mat-sidenav-container #sidenavcontainer role="main" class="sidenav-container"
    [ngStyle]="{'margin-top.px': layoutService.headerHeight, 'height.px': layoutService.contentHeight}">
    <mat-sidenav #sidenav [class.collapsed]="!layoutService.sideBySide" class="sidenav" [mode]="sidebarMode">
    </mat-sidenav>

    <section class="sidenav-content" role="content" [ngStyle]="{'min-height.px': layoutService.contentHeight}">
        <router-outlet></router-outlet>
    </section>

</mat-sidenav-container>
