.container {
    margin: 0 15px;
}

h1 {
    text-align: center;
    margin: 1% 0 10px 0;
}

table {
    mat-form-field {
        width: 100%;
        margin-bottom: -17px;
        margin-top: 4px;
    }
}

above-table {
    margin-bottom: 25px;
}
