name: Release Single Docker Image (Reusable)

on:
    workflow_call:
        inputs:
            registry:
                required: true
                type: string
            name:
                required: true
                type: string
            file:
                required: true
                type: string

permissions:
    contents: read
    packages: write
    # This is used to complete the identity challenge
    # with sigstore/fulcio when running outside of PRs.
    id-token: write

jobs:
    release-image:
        name: Release Image
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log into registry ${{ inputs.registry }}
              uses: docker/login-action@v3
              with:
                  registry: ${{ inputs.registry }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Docker Metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      ${{ inputs.registry }}/${{ inputs.name }}
                  tags: |
                      type=match,pattern=\d.\d.\d
                      type=match,pattern=v(\d.\d),group=1

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  file: ${{ inputs.file }}
                  platforms: linux/amd64
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  provenance: false
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
