name: Continuous Integration Server

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # manual triggering, for debugging purposes

jobs:
  run-server:
    name: Run server application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip" # caching pip dependencies

      - name: Run developer setup
        working-directory: ./dev
        run: python dev.py init

      - name: Build website frontend
        working-directory: ./frontend
        run: npm run build

      - name: Build website backend
        working-directory: ./backend/website
        run: npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start database
        working-directory: ./dev
        run: docker compose -f docker-compose.db.yaml up -d

      - name: Apply database schema
        run: |
          . .venv/bin/activate
          python dev/dev.py migrate

      - name: Start positioning server
        working-directory: ./backend/positioning
        run: |
          . .venv/bin/activate
          python main.py &
          sleep 10

      - name: Test positioning server availability
        run: wget --no-verbose --tries=1 http://localhost:5010/alive

      - name: Start website server
        working-directory: ./backend/website
        run: |
          npm run start &
          sleep 10

      - name: Test website server availability
        run: wget --no-verbose --tries=1 --spider http://localhost:3000
